$site-content-top:60px;  //site content goes down by header height; header have fixed param;
//$site-content-mobile-top:0;

.site-content{
  margin-top:0; @media (min-width: $md){margin-top:$site-content-top!important;}
  padding: 0;
  position:relative;
  width: 100%;
  height: 100%;
  display: block;
  //top:$site-content-mobile-top!important; @media (min-width: $md){top:$site-content-top!important;} //site content goes down by header height; header have fixed param;
}