$site-footer-height:35px;
$site-footer-border-color:#e5e5e5;
$site-footer-font-size:1.3rem;

.site-footer {
  padding:5px 0;
  position: relative;
  display:none;
  width: 100%;
  height: $site-footer-height;
  border-top: 1px solid $site-footer-border-color;
  font-size: $site-footer-font-size;
  text-align: center;

  &.footer-fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
